
<div class="wrapper">
  <header>

    <h2>Angela Elissa Kothe</h2>
    <img src="images/DSC_7115.jpg" alt="hi" class="inline"/>
    <p></p>
    <p style="color:#7C0A02;font-weight:bold">PhD Student, Department of Government, Cornell University</p>
    <p style="color:#6f777d;font-weight:bold">Graduate Fellow, Institute for European Studies</p>

    <p></p>

    <p> Studying American political development in the comparative perspective, political economy, queer politics, and religion. </p>

    <hr width="70%">

    <p><a href="https://government.cornell.edu/angela-kothe" target="_blank" style="color:#7C0A02">Department Homepage</a><p>
    <p><a href="mailto:aek229@cornell.edu" target="_blank" style="color:#7C0A02">Email</a><p>
    <p><a href="https://orcid.org/0000-0003-0391-3254" target="_blank" style="color:#7C0A02">ORCID</a><p></p>
    <p><a href="/cv/cv.pdf" target="_blank" style="color:#7C0A02">CV</a></p>

    <br>

    <p><a href="https://github.com/aekothe" target="_blank" style="color:#7C0A02">Github</a><p>
    <p><a href="https://kothe.bsky.social" target="_blank" style="color:#7C0A02">Bluesky</a><p>


      <div class="is-container-row is-center">
        <!-- <div class="is-inset-8"><a href="mailto:aek229@cornell.edu" class="is-icon"><i class="fa fa-envelope fa-2x"></i></a></div> -->
        <!-- <div class="is-inset-8"><a href="https://github.com/aekothe" class="is-icon"><i class="fab fa-github fa-2x"></i></a></div> -->
        <!-- <div class="is-inset-8"><a href="https://orcid.org/0000-0003-0391-3254" class="is-icon"><i class="fa-brands fa-orcid fa-2x"></i></a></div> -->
        <!-- <div class="is-inset-8"><a href="http://scholar.google.com/citations?user=Dqm0DtcAAAAJ" class="is-icon"><i class="ai ai-google-scholar ai-2x"></i></a></div> -->
        <!-- <div class="is-inset-8"><a href="http://www.twitter.com/aekothe/" class="is-icon"><i class="fab fa-twitter fa-2x"></i></a></div> -->
      </div>

    <br>


    <p>
    <!--Insert New Paragraph Here-->
    </p>




  </header>
</div>
